---

---

<section
  class="relative flex flex-col md:flex-row gap-2 lg:gap-5 text-heading-3 font-medium"
>
  <div class="flex items-center mx-auto">
    <span
      class="font-bold rounded-full w-8 h-8 mr-2 text-red-900 inline-flex justify-center items-center"
      >&checkmark;</span
    >
    <div>Sense llista d'espera</div>
  </div>
  <div class="flex items-center mx-auto">
    <span
      class="font-bold rounded-full w-8 h-8 mr-2 text-red-900 inline-flex justify-center items-center"
      >&checkmark;</span
    >
    Tracte proper
  </div>
  <div class="flex items-center mx-auto">
    <span
      class="font-bold w-8 h-8 mr-3 text-red-900 inline-flex justify-center items-center"
      >&checkmark;</span
    >Teorica presencial i onli
  </div>
</section>
